body {
  font-family: "NotoSansTC", serif;
}

@media all and (min-width: 760px) {
  body .ftco-section-featured .container .carousel .img-fluid {
    width: auto;
    height: 60vw;
    max-height: 600px;
    margin: 0 auto;
  }
}
