section .btn.apply {
  border-radius: 20px;
}
section .schedule .media {
  width: 100%;
}

#section-counter .dollar {
  display: inline-block;
}

#description .subheading {
  display: block;
  text-align: center;
}
#description h3 {
  font-size: 1.2em;
}

#arc {
  position: fixed;
  width: 16vw;
  max-width: 100px;
  z-index: 1;
  right: 4vw;
  bottom: 4vh;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  animation-name: arc-turn;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}
#arc:hover {
  transform: scale(-1.1, 1.1);
}

@keyframes arc-turn {
  0% {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(-70deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}
