{% extends 'template.html' %}
{% block html_title %}
    <title>線上報名 - 尋找愛神代言人 | 士林夜市2020年度觀光大使</title>
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="/static/css/apply.min.css">
{% endblock %}

{% block content %}
    <section class="ftco-section contact-section ftco-degree-bg ftco-animate" id="form">
        <div class="container bg-light">
            <div class="row d-flex mb-5 contact-info">
                <div class="col-md-12 mb-4">
                    <h2 class="h4">線上報名</h2>
                </div>
                <div class="w-100"></div>
                <div class="col-md-12">
                    <p><span>報名資格: </span>30歲以下女性，對成為Youtuber、對拍攝網路節目有興趣者，皆可報名！</p>
                </div>
                <div class="col-md-12">
                    <p><span>報名期限: </span>2020/06/01 ~ 2020/06/30</p>
                </div>
            </div>
            <form>
                {% csrf_token %}
                <div class="row block-9">
                    <div class="col-md-6 pr-md-5">
                        <span>個人資料</span>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="姓名" name="name" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="藝名 (可選填)" name="nickname">
                        </div>
                        <div class="form-group">
                            <label>生日</label>
                            <input type="date" class="form-control" placeholder="生日" name="birthday" required>
                        </div>
                        <span>社群媒體 (至少填一)</span>
                        <div class="form-group">
                            <input type="text" class="form-control social" placeholder="Instagram" name="ig" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control social" placeholder="Facebook" name="fb" required>
                        </div>
                    </div>
                    <div class="col-md-6 pr-md-5">
                        <span>以下聯絡資訊僅供通過初審後聯繫用，將不用於其他用途</span>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Line ID" name="line" required>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="電子郵件" name="email" required>
                        </div>
                        <div class="form-group">
                            <input type="tel" class="form-control" placeholder="聯絡電話 " name="phone" required>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h6 align="center">上傳照片（全身、半身）</h6>
                        <h6 align="center"><small>照片大小6MB以內，若入圍將展示在個人頁面上</small></h6>
                    </div>
                    <div class="col-xl-6">
                        <div class="photo-box">
                            <div class="form-group">
                                <button type="button" data-name="photo-whole" class="btn btn-primary py-3 px-5">全身照片<span class="icon-file_upload"></span></button>
                                <a class="close"></a>
                            </div>
                            <input type="file" id="photo-whole" name="photo-whole" accept="image/jpeg,image/png">
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="photo-box">
                            <div class="form-group">
                                <button type="button" data-name="photo-half" class="btn btn-primary py-3 px-5">半身照片<span class="icon-file_upload"></span></button>
                                <a class="close"></a>
                            </div>
                            <input type="file" id="photo-half" name="photo-half" accept="image/jpeg,image/png">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="submit" value="送出申請" class="btn btn-primary py-3 px-5">
                        </div>
                    </div>
                </div>
            </form>
            <h6 id="warning">注意事項: 主辦單位保留擴大、修改、取消、終止此活動以及更改活動日期的權力。</h6>
        </div>
    </section>
{% endblock %}

{% block js %}
    <script src="/static/js/apply.js"></script>
{% endblock %}