{% extends 'template.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/css/index.css">
{% endblock %}
{% block content %}

    {#    <section class="ftco-section-featured ftco-animate">#}
    {#      <div class="container">#}
    {#        <div class="row">#}
    {#          <div class="col-md-12">#}
    {#            <div class="carousel owl-carousel">#}
    {#              <div class="item">#}
    {#                <a href="portfolio.html">#}
    {#                  <img src="static/images/home-girl-1.jpg" class="img-fluid" alt="">#}
    {#                  <h3 align="center">林采緹</h3>#}
    {#                </a>#}
    {#              </div>#}
    {#              <div class="item">#}
    {#                <a href="portfolio.html">#}
    {#                  <img src="static/images/home-girl-2.jpg" class="img-fluid" alt="">#}
    {#                  <h3 align="center">林采緹</h3>#}
    {#                </a>#}
    {#              </div>#}
    {#              <div class="item">#}
    {#                <a href="portfolio.html">#}
    {#                  <img src="static/images/home-girl-3.jpg" class="img-fluid" alt="">#}
    {#                  <h3 align="center">林采緹</h3>#}
    {#                </a>#}
    {#              </div>#}
    {#            </div>#}
    {#          </div>#}
    {#        </div>#}
    {#      </div>#}
    {#    </section>#}

    <section class="ftco-section ftco-degree-bg" id="lover">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-5">
                <div class="col-md-9 text-center heading-section ftco-animate">
                    <span class="subheading">God of Love</span>
                    <h2>聽過泰國人的月老-泰國愛神嗎？</h2>
                </div>
            </div>
            <div class="row">
                <p>泰國愛神又稱「三相神」，會為信眾帶來愛情、魅力、財富和地位。2020年6月 泰國愛神從曼谷來台灣，正式安座在士林夜市，並且開放給無數等待愛情與幸福的人們祈願！</p>
                <p>為了宣傳泰國愛神安座於士林夜市，我們特別舉辦『尋找愛神代言人』活動，開放所有想要成為網紅、youtuber、明星的妳，有機會一圓成名夢想！</p>
                <p>獲得最終優勝者，可以直接獲得10萬元獎金外，還能受邀擔任年度士林夜市觀光大使，一年擁有上千萬人次的曝光，並與知名藝人搭檔拍攝10集以上的網路節目！</p>
                <p>『尋找愛神代言人』-2020年讓妳爆紅的最好機會！</p>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-degree-bg" id="schedule">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-5">
                <div class="col-md-7 text-center heading-section ftco-animate">
                    <span class="subheading">Schedule</span>
                    <h2>活動流程</h2>
                </div>
            </div>
            <div class="row">
                <div class="schedule col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services d-block text-center">
                        <div class="d-flex justify-content-center">
                            <div class="icon color-1 d-flex justify-content-center mb-3"><span
                                    class="align-self-center icon-people"></span></div>
                        </div>
                        <div class="media-body p-2">
                            <h3 class="heading">參加海選<br>(6/1 ~ 6/30)</h3>
                            <p>入圍者即可獲得限量『愛神象神』佛牌，並提供獎金1680元邀請至士林夜市愛神像前拍攝2分鐘自介影片。</p>
                        </div>
                    </div>
                </div>
                <div class="schedule col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services d-block text-center">
                        <div class="d-flex justify-content-center">
                            <div class="icon color-2 d-flex justify-content-center mb-3"><span
                                    class="align-self-center icon-exposure_plus_2"></span></div>
                        </div>
                        <div class="media-body p-2">
                            <h3 class="heading">網路投票<br>(7/10 ~ 7/31)</h3>
                            <p>登入臉書帳號，一天最多可投5票，前八名人氣最高者獲得晉級機會。</p>
                        </div>
                    </div>
                </div>
                <div class="schedule col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services d-block text-center">
                        <div class="d-flex justify-content-center">
                            <div class="icon color-3 d-flex justify-content-center mb-3"><span
                                    class="align-self-center icon-camera_roll"></span></div>
                        </div>
                        <div class="media-body p-2">
                            <h3 class="heading">八強資格淘汰賽<br>(8/14)</h3>
                            <p>8名人氣王參與網路節目拍攝，並從節目中晉級4位進入最終決賽。</p>
                        </div>
                    </div>
                </div>

                <div class="schedule col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services d-block text-center">
                        <div class="d-flex justify-content-center">
                            <div class="icon color-4 d-flex justify-content-center mb-3"><span
                                    class="align-self-center icon-star2"></span></div>
                        </div>
                        <div class="media-body p-2">
                            <h3 class="heading">四強總決賽<br>(8/25)</h3>
                            <p>最終決賽網路節目拍攝，挑選出前3名觀光大使</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-counter ftco-degree-bg" id="section-counter">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-5">
                <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                    <span class="subheading">Prizes</span>
                    <h2>活動獎項</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
                    <div class="block-18 text-center">
                        <div class="text">
                            <h3>第一名</h3>
                            <strong class="number" data-number="100000">0</strong><span class="dollar">元</span>
                            <span>女神獎盃</span>
                            <span>士林夜市觀光大使一年</span>
                            <span>拍攝代言人形象照</span>
                            <span>與知名藝人合作拍攝10支以上網路節目<br>（給予拍攝費）</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
                    <div class="block-18 text-center">
                        <div class="text">
                            <h3>第二名</h3>
                            <strong class="number" data-number="50000">0</strong><span class="dollar">元</span>
                            <span>女神獎杯</span>
                            <span>與知名藝人合作拍攝網路節目<br>（給予拍攝費）</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
                    <div class="block-18 text-center">
                        <div class="text">
                            <h3>第三名</h3>
                            <strong class="number" data-number="30000">0</strong><span class="dollar">元</span>
                            <span>女神獎杯</span>
                            <span>與知名藝人合作拍攝網路節目<br>（給予拍攝費）</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-degree-bg" id="description">
        <div class="container">
            <div class="heading-section">
                <span class="subheading">Description</span>
                <h2 align="center">活動辦法</h2>
            </div>
            <h3>[ 活動主旨 ]</h3>
            <p>藉由泰國愛神安座士林夜市推廣地區觀光，並希望所有夢想成為網紅的人能透過本活動被更多人看見！</p>
            <h3>[報名資格]</h3>
            <p>30歲以下女性，對成為YouTuber、對拍攝網路節目有興趣者，皆可報名！</p>

            <h3>[ 活動時程 ]</h3>
            <p>
                報名參加海選：6月1日～6月30日<br>
                通知入選者88名：6月1日～6月30日（獲得愛神＋象神佛牌＋1680元通告費，於士林夜市愛神像前拍攝照片與2分鐘影片用於網路投票）<br>
                網路投票選出8強：7月10日12:00～7月31日<br>
                八強資格淘汰賽：8月14日(拍攝網路節目 8選出4強)<br>
                四強總決賽：8月25日(拍攝網路節目 4選出3強)
            </p>

            <h3>[ 活動獎項 ]</h3>

            <p>
                第一名獲得新台幣10萬元，女神獎盃及彩帶，擔任士林夜市觀光大使一年，拍攝形象照，並設立代言人人形立牌與製作代言人圖片文宣，並與知名藝人拍攝多支網路節目，並不定時拍攝商案。（將另外給予費用）<br>
                第二名獲得新台幣5萬元，女神獎盃及彩帶，與知名藝人拍攝網路節目。（將另外給予費用）<br>
                第三名獲得新台幣3萬元，女神獎盃及彩帶，與知名藝人拍攝網路節目。（將另外給予費用）<br>
            </p>

            <h3>[ 如何參加 ]</h3>
            <p>點選：我要報名<br>
                按照流程填寫個人資料<br>
                上傳一張個人全身、半身照片<br>
                完成報名後，工作人員將會通知
            </p>
            <h3>[ 注意事項 ]</h3>
            <p>主辦單位保留擴大、修改、取消、終止此活動以及更改活動日期的權力。</p>

        </div>
    </section>

    {#    <section class="ftco-section-parallax ftco-degree-bg">#}
    {#        <div class="parallax-img d-flex align-items-center">#}
    {#            <div class="container">#}
    {#                <div class="row d-flex justify-content-center">#}
    {#                    <div class="col-md-10 text-center heading-section heading-section-white ftco-animate">#}
    {#                        <h2 class="h1 font-weight-bold">你就是我們要找的愛神代言人！</h2>#}
    {#                        <p><a href="/apply/" class="btn btn-primary btn-outline-white mt-3 py-3 px-4 apply">立即報名</a></p>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </section>#}

    {#    <section class="ftco-section">#}
    {#        <div class="container-fluid">#}
    {#            <div class="row no-gutters justify-content-center mb-5 pb-5">#}
    {#                <div class="col-md-7 text-center heading-section ftco-animate">#}
    {#                    <span class="subheading">Works</span>#}
    {#                    <h2>Recent Works</h2>#}
    {#                </div>#}
    {#            </div>#}
    {#            <div class="row no-gutters">#}
    {#                <div class="block-3 d-md-flex ftco-animate">#}
    {#                    <a href="portfolio.html" class="image"#}
    {#                       style="background-image: url('/static/images/work-1.jpg'); "></a>#}
    {#                    <div class="text">#}
    {#                        <h4 class="subheading">Illustration</h4>#}
    {#                        <h2 class="heading"><a href="portfolio.html">Even the all-powerful Pointing has no control</a>#}
    {#                        </h2>#}
    {#                        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost#}
    {#                            unorthographic life One day however a small line of blind text by the name of Lorem Ipsum#}
    {#                            decided to leave for the far World of Grammar.</p>#}
    {#                    </div>#}
    {#                </div>#}
    {#                <div class="block-3 d-md-flex ftco-animate">#}
    {#                    <a href="portfolio.html" class="image order-2"#}
    {#                       style="background-image: url('/static/images/work-2.jpg'); "></a>#}
    {#                    <div class="text order-1">#}
    {#                        <h4 class="subheading">Application</h4>#}
    {#                        <h2 class="heading"><a href="portfolio.html">Even the all-powerful Pointing has no control</a>#}
    {#                        </h2>#}
    {#                        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost#}
    {#                            unorthographic life One day however a small line of blind text by the name of Lorem Ipsum#}
    {#                            decided to leave for the far World of Grammar.</p>#}
    {#                    </div>#}
    {#                </div>#}
    {#                <div class="block-3 d-md-flex ftco-animate">#}
    {#                    <a href="portfolio.html" class="image"#}
    {#                       style="background-image: url('/static/images/work-3.jpg'); "></a>#}
    {#                    <div class="text">#}
    {#                        <h4 class="subheading">Web Design</h4>#}
    {#                        <h2 class="heading"><a href="portfolio.html">Even the all-powerful Pointing has no control</a>#}
    {#                        </h2>#}
    {#                        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost#}
    {#                            unorthographic life One day however a small line of blind text by the name of Lorem Ipsum#}
    {#                            decided to leave for the far World of Grammar.</p>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </section>#}
    {##}
    {#    <section class="ftco-section testimony-section ftco-degree-bg">#}
    {#        <div class="container">#}
    {#            <div class="row justify-content-center mb-5 pb-5">#}
    {#                <div class="col-md-7 text-center heading-section ftco-animate">#}
    {#                    <span class="subheading">Customer Says</span>#}
    {#                    <h2>Our satisfied customer says</h2>#}
    {#                </div>#}
    {#            </div>#}
    {#            <div class="row ftco-animate">#}
    {#                <div class="col-md-12">#}
    {#                    <div class="carousel-testimony owl-carousel ftco-owl">#}
    {#                        <div class="item text-center">#}
    {#                            <div class="testimony-wrap p-4 pb-5">#}
    {#                                <div class="user-img mb-4" style="background-image: url('/static/images/person_1.jpg')">#}
    {#                    <span class="quote d-flex align-items-center justify-content-center">#}
    {#                      <i class="icon-quote-left"></i>#}
    {#                    </span>#}
    {#                                </div>#}
    {#                                <div class="text">#}
    {#                                    <p class="mb-5">Far far away, behind the word mountains, far from the countries#}
    {#                                        Vokalia and Consonantia, there live the blind texts.</p>#}
    {#                                    <p class="name">Dennis Green</p>#}
    {#                                    <span class="position">Marketing Manager</span>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                        <div class="item text-center">#}
    {#                            <div class="testimony-wrap p-4 pb-5">#}
    {#                                <div class="user-img mb-4" style="background-image: url('/static/images/person_2.jpg')">#}
    {#                    <span class="quote d-flex align-items-center justify-content-center">#}
    {#                      <i class="icon-quote-left"></i>#}
    {#                    </span>#}
    {#                                </div>#}
    {#                                <div class="text">#}
    {#                                    <p class="mb-5">Far far away, behind the word mountains, far from the countries#}
    {#                                        Vokalia and Consonantia, there live the blind texts.</p>#}
    {#                                    <p class="name">Dennis Green</p>#}
    {#                                    <span class="position">Interface Designer</span>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                        <div class="item text-center">#}
    {#                            <div class="testimony-wrap p-4 pb-5">#}
    {#                                <div class="user-img mb-4" style="background-image: url('/static/images/person_3.jpg')">#}
    {#                    <span class="quote d-flex align-items-center justify-content-center">#}
    {#                      <i class="icon-quote-left"></i>#}
    {#                    </span>#}
    {#                                </div>#}
    {#                                <div class="text">#}
    {#                                    <p class="mb-5">Far far away, behind the word mountains, far from the countries#}
    {#                                        Vokalia and Consonantia, there live the blind texts.</p>#}
    {#                                    <p class="name">Dennis Green</p>#}
    {#                                    <span class="position">UI Designer</span>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                        <div class="item text-center">#}
    {#                            <div class="testimony-wrap p-4 pb-5">#}
    {#                                <div class="user-img mb-4" style="background-image: url('/static/images/person_1.jpg')">#}
    {#                    <span class="quote d-flex align-items-center justify-content-center">#}
    {#                      <i class="icon-quote-left"></i>#}
    {#                    </span>#}
    {#                                </div>#}
    {#                                <div class="text">#}
    {#                                    <p class="mb-5">Far far away, behind the word mountains, far from the countries#}
    {#                                        Vokalia and Consonantia, there live the blind texts.</p>#}
    {#                                    <p class="name">Dennis Green</p>#}
    {#                                    <span class="position">Web Developer</span>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                        <div class="item text-center">#}
    {#                            <div class="testimony-wrap p-4 pb-5">#}
    {#                                <div class="user-img mb-4" style="background-image: url('/static/images/person_1.jpg')">#}
    {#                    <span class="quote d-flex align-items-center justify-content-center">#}
    {#                      <i class="icon-quote-left"></i>#}
    {#                    </span>#}
    {#                                </div>#}
    {#                                <div class="text">#}
    {#                                    <p class="mb-5">Far far away, behind the word mountains, far from the countries#}
    {#                                        Vokalia and Consonantia, there live the blind texts.</p>#}
    {#                                    <p class="name">Dennis Green</p>#}
    {#                                    <span class="position">System Analytics</span>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </section>#}
    {##}
    {#    <section class="ftco-section ftco-degree-bg">#}
    {#        <div class="container">#}
    {#            <div class="row justify-content-center mb-5 pb-5">#}
    {#                <div class="col-md-7 text-center heading-section ftco-animate">#}
    {#                    <span class="subheading">Blog</span>#}
    {#                    <h2>Recent Blog</h2>#}
    {#                </div>#}
    {#            </div>#}
    {#            <div class="row">#}
    {#                <div class="col-md-4 ftco-animate">#}
    {#                    <div class="blog-entry">#}
    {#                        <a href="blog-single.html" class="block-20"#}
    {#                           style="background-image: url('/static/images/image_1.jpg');">#}
    {#                        </a>#}
    {#                        <div class="text p-4 d-block">#}
    {#                            <div class="meta mb-3">#}
    {#                                <div><a href="#">July 12, 2018</a></div>#}
    {#                                <div><a href="#">Admin</a></div>#}
    {#                                <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>#}
    {#                            </div>#}
    {#                            <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the#}
    {#                                blind texts</a></h3>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#                <div class="col-md-4 ftco-animate">#}
    {#                    <div class="blog-entry" data-aos-delay="100">#}
    {#                        <a href="blog-single.html" class="block-20"#}
    {#                           style="background-image: url('/static/images/image_2.jpg');">#}
    {#                        </a>#}
    {#                        <div class="text p-4">#}
    {#                            <div class="meta mb-3">#}
    {#                                <div><a href="#">July 12, 2018</a></div>#}
    {#                                <div><a href="#">Admin</a></div>#}
    {#                                <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>#}
    {#                            </div>#}
    {#                            <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the#}
    {#                                blind texts</a></h3>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#                <div class="col-md-4 ftco-animate">#}
    {#                    <div class="blog-entry" data-aos-delay="200">#}
    {#                        <a href="blog-single.html" class="block-20"#}
    {#                           style="background-image: url('/static/images/image_3.jpg');">#}
    {#                        </a>#}
    {#                        <div class="text p-4">#}
    {#                            <div class="meta mb-3">#}
    {#                                <div><a href="#">July 12, 2018</a></div>#}
    {#                                <div><a href="#">Admin</a></div>#}
    {#                                <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>#}
    {#                            </div>#}
    {#                            <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the#}
    {#                                blind texts</a></h3>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </section>#}
    <a href="/apply/#form" class="apply">
        <div class="buttons">
            <button class="blob-btn">我要報名<span class="blob-btn__inner">
      <span class="blob-btn__blobs">
        <span class="blob-btn__blob"></span>
        <span class="blob-btn__blob"></span>
        <span class="blob-btn__blob"></span>
        <span class="blob-btn__blob"></span>
      </span>
    </span>
            </button>
        </div>
    </a>
    <br/>

    <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
        <defs>
            <filter id="goo">
                <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"></feGaussianBlur>
                <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7"
                               result="goo"></feColorMatrix>
                <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
            </filter>
        </defs>
    </svg>
{% endblock %}
