{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block html_title %}
        <title>尋找愛神代言人 - 士林夜市年度觀光大使</title>
    {% endblock %}
    <meta name="description" content="參與愛神代言人網路人氣票選，並且獲得最終優勝者，可以擔任年度士林夜市觀光大使，獲得千萬人次的曝光，並與知名藝人搭檔拍攝10集以上的網路節目!『尋找愛神代言人』-2020年讓妳爆紅的最好機會！">
    <meta name="og:image" content="http://honglink.com.tw/static/images/banner_mobile.png" />
    <meta name="og:description" content="參與愛神代言人網路人氣票選，並且獲得最終優勝者，可以擔任年度士林夜市觀光大使，獲得千萬人次的曝光，並與知名藝人搭檔拍攝10集以上的網路節目!『尋找愛神代言人』-2020年讓妳爆紅的最好機會！" />
    <meta name="og:url" content="http://honglink.com.tw/">
    <meta name="og:title" content="尋找愛神代言人 - 士林夜市年度觀光大使">
    <meta name="og:type" content="website">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="preload" href="/static/css/font.css" media="print" onload="this.media='all'" async>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,700,800" rel="stylesheet" media="print" onload="this.media='all'" async>
    <link rel="stylesheet" href="/static/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/animate.min.css" media="print" onload="this.media='all'" async>
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/static/css/magnific-popup.css">
    <link rel="stylesheet" href="/static/css/aos.css">
    <link rel="stylesheet" href="/static/css/ionicons.min.css">
{#    <link rel="stylesheet" href="/static/css/bootstrap-datepicker.css">#}
    <link rel="stylesheet" href="/static/css/jquery.timepicker.css">
    <link rel="stylesheet" href="/static/css/flaticon.css">
    <link rel="stylesheet" href="/static/css/icomoon.css">
    <link rel="stylesheet" href="/static/css/style.min.css">
    <link rel="stylesheet" href="/static/css/app.css"  media="print" onload="this.media='all'" async>
    {% block css %}{% endblock %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-168097263-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-168097263-1');
    </script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="/">尋找愛神代言人</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> 選單
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <!--            <li class="nav-item active"><a href="index.html" class="nav-link">首頁</a></li>-->
                <li class="nav-item"><a href="/#lover" class="nav-link">泰國愛神</a></li>
                <li class="nav-item"><a href="/#schedule" class="nav-link">活動流程</a></li>
                <li class="nav-item"><a href="/#section-counter" class="nav-link">活動獎項</a></li>
                <li class="nav-item"><a href="/#description" class="nav-link">活動辦法</a></li>
                <li class="nav-item"><a href="{% url 'apply' %}#form" class="nav-link">我要報名</a></li>
                <!--            <li class="nav-item dropdown">-->
                <!--              <a class="nav-link dropdown-toggle" href="room.html" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Portfolio</a>-->
                <!--                <div class="dropdown-menu" aria-labelledby="dropdown04">-->
                <!--                  <a class="dropdown-item" href="portfolio.html">Portfolio</a>-->
                <!--                  <a class="dropdown-item" href="portfolio-single.html">Portfolio Single</a>-->
                <!--                </div>-->
                <!--            </li>-->
            </ul>
        </div>
    </div>
</nav>
<!-- END nav -->

<section class="home-slider ftco-degree-bg">
    <div class="slider-item">
        <div class="overlay"></div>
        <div class="container-fluid">
            <div class="row slider-text align-items-center justify-content-center">
                <div class="col-md-10 ftco-animate text-center">
                    <img src="/static/images/banner_text.png" width="100%">
{#                    <h1 class="mb-4">I love to#}
{#                        <strong class="typewrite" data-period="3000" data-type='[ "網頁", "設計", "網路", "工程" ]'>#}
{#                            <span class="wrap"></span>#}
{#                        </strong>#}
{#                    </h1>#}
{#                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It#}
{#                        is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>#}
{#                    <p><a href="https://vimeo.com/45830194"#}
{#                          class="btn btn-primary btn-outline-white px-4 py-3 popup-vimeo"><span#}
{#                            class="ion-ios-play mr-2"></span> Watch Video</a></p>#}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END slider -->

<main>
{% block content %}
    Replace me with content
{% endblock %}
</main>

<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">快速連結</h2>
                    <ul class="list-unstyled">
                        <li><a href="/#schedule" class="py-2 d-block">活動流程</a></li>
                <li><a href="/#section-counter" class="py-2 d-block">活動獎項</a></li>
                <li><a href="/#description" class="py-2 d-block">活動辦法</a></li>
                <li><a href="{% url 'apply' %}#form" class="py-2 d-block">我要報名</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">主辦單位</h2>
                    <p>台北市士林夜市觀光發展協會</p>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft">
                        <li class="ftco-animate"><a class="icon-line"><span></span></a></li>
                        <li class="ftco-animate"><a><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a><span class="icon-instagram"></span></a></li>
                        <li class="ftco-animate"><a><span class="icon-youtube"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">協辦單位</h2>
                    <p>福利久久商城</p>
                    <p>中華多媒體直播演藝協會</p>
                    <p>紅通通文創娛樂</p>
                    <p>有家光影</p>
                </div>
            </div>
{#            <div class="col-md">#}
{#                <div class="ftco-footer-widget mb-4">#}
{#                    <h2 class="ftco-heading-2">Contact Information</h2>#}
{#                    <ul class="list-unstyled">#}
{#                        <li><a href="#" class="py-2 d-block">198 West 21th Street, Suite 721 New York NY 10016</a></li>#}
{#                        <li><a href="#" class="py-2 d-block">+ 1235 2355 98</a></li>#}
{#                        <li><a href="#" class="py-2 d-block">info@yoursite.com</a></li>#}
{#                        <li><a href="#" class="py-2 d-block">email@email.com</a></li>#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-md">#}
{#                <div class="ftco-footer-widget mb-4">#}
{#                    <h2 class="ftco-heading-2">Newsletter</h2>#}
{#                    <p>Far far away, behind the word mountains, far from the countries.</p>#}
{#                    <form action="#" class="subscribe-form">#}
{#                        <div class="form-group">#}
{#                            <span class="icon icon-paper-plane"></span>#}
{#                            <input type="text" class="form-control" placeholder="Subscribe">#}
{#                        </div>#}
{#                    </form>#}
{#                </div>#}
{#            </div>#}
        </div>
        <div class="row">
            <div class="col-md-12 text-center">

                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    台北市士林夜市觀光發展協會 &copy;<script>document.write(new Date().getFullYear());</script>
                    All rights reserved
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                <p>Designed by <a>C.J.C Studio</a></p>
            </div>
        </div>
    </div>
</footer>


<!-- loader -->
<div id="ftco-loader" class="show fullscreen">
    <svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                stroke="#F96D00"/>
    </svg>
    <span class="completed">報名完成</span>
</div>


<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery-migrate-3.0.1.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.easing.1.3.js"></script>
<script src="/static/js/jquery.waypoints.min.js"></script>
<script src="/static/js/jquery.stellar.min.js"></script>
<script src="/static/js/owl.carousel.min.js"></script>
<script src="/static/js/jquery.magnific-popup.min.js"></script>
<script src="/static/js/aos.js"></script>
<script src="/static/js/jquery.animateNumber.min.js"></script>
<script src="/static/js/main.min.js"></script>
{% block js %}{% endblock %}
</body>
</html>