{% extends 'template.html' %}
{% block html_title %}
    <title>線上投票 - 尋找愛神代言人 | 士林夜市2020年度觀光大使</title>
{% endblock %}
{% block css %}
    {#    <link rel="stylesheet" href="/static/css/icon.css">#}
    <link rel="stylesheet" href="/static/css/vote.css">
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '695948947888640',
                cookie: true,
                xfbml: true,
                version: 'v7.0'
            });

            FB.AppEvents.logPageView();
            {#FB.logout()#}
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
{% endblock %}

{% block content %}
    <section class="ftco-section contact-section ftco-degree-bg ftco-animate" id="players">
        <div class="container">
            <div class="header">
                <h1 align="center">全民票選愛神代言人</h1>
                <h5 align="center">活動辦法: 7/15 ~ 8/5 以Facebook帳號登入
                    <fb:login-button scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button>
                    ，<span style="color:red">每日五票</span>且不得重複投在同一人上，每日凌晨0點重置。
                </h5>
            </div>
            <div class="row">
                {% csrf_token %}
                {% for player in players %}
                    <div class="col-lg-3 col-md-6 player" data-player="{{ player.id }}">
                        {% if forloop.counter == 1 %}
                            <div class="photo-holder no1">
                                <img src="{{ player.photo_half }}" onclick="showProfile({{ player.id }})">
                            </div>
                        {% elif forloop.counter == 2 %}
                            <div class="photo-holder no2">
                                <img src="{{ player.photo_half }}" onclick="showProfile({{ player.id }})">
                            </div>
                        {% elif forloop.counter == 3 %}
                            <div class="photo-holder no3">
                                <img src="{{ player.photo_half }}" onclick="showProfile({{ player.id }})">
                            </div>
                        {% else %}
                            <div class="photo-holder">
                                <img src="{{ player.photo_half }}" onclick="showProfile({{ player.id }})">
                            </div>
                        {% endif %}
                        <div>
                            <h6 align="center" class="name">{{ player.nickname }}</h6>
                            <div class="social">
                                {% if player.fb %}
                                    <a class="fb-link" href="{{ player.fb }}" target="_blank">
                                        <spanp class="circle fb"></spanp>
                                    </a>
                                {% endif %}
                                {% if player.ig %}
                                    <a class="ig-link" href="{{ player.ig }}" target="_blank">
                                        <spanp class="circle ig"></spanp>
                                    </a>
                                {% endif %}
                                {% if player.youtube %}
                                    <a class="youtube-link" href="{{ player.youtube }}" target="_blank">
                                        <spanp class="circle youtube"></spanp>
                                    </a>
                                {% endif %}
                                <span class="circle profile" data-id="{{ player.id }}"
                                      onclick="showProfile({{ player.id }})"></span>
                                <span class="video">{{ player.video }}</span>
                                <span class="intro">{{ player.intro }}</span>
                                <span class="photo-half">{{ player.photo_half }}</span>
                                <span class="photo-whole">{{ player.photo_whole }}</span>
                            </div>
                            <h5 align="center">{{ player.votes }} 票</h5>
                            <button class="btn btn-primary btn-block" onclick="showProfile({{ player.id }})">立即投票</button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section id="profile">
        <div><img class="close-button" src="/static/images/close.svg" onclick="closeProfile()"></div>
        <div class="owl-carousel owl-theme">
            <div class="item">
{#                                <iframe width="1792" height="849" src="https://www.youtube.com/embed/Xkn6UWXWCbc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
{#                <iframe src="https://www.youtube.com/embed/"#}
{#                        frameborder="0"#}
{#                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"#}
{#                        allowfullscreen></iframe>#}
            </div>
            <div class="item"><img class="photo-half" src="/static/upload/4/photo-half.jpeg"></div>
            <div class="item"><img class="photo-whole" src="/static/upload/4/photo-whole.jpeg"></div>
        </div>

        <div class="intro jumbotron">
            <div class="info-container">
                <div class="info">
                    <h3>
                        <span class="name"></span>
                        <span class="social">
                            <a href="#" target="_blank"><spanp class="circle no-circle fb"></spanp></a>
                            <a href="#" target="_blank"><spanp class="circle no-circle ig"></spanp></a>
                            <a href="#" target="_blank"><spanp class="circle no-circle youtube"></spanp></a>
                        </span>
                        <button class="btn btn-primary btn-light vote-button">投我一票</button>
                    </h3>
                </div>
            </div>
            <p class="into-text"></p>

        </div>
    </section>
    <div class="bg-overlay"></div>
{% endblock %}

{% block js %}
    <script src="/static/js/vote.js"></script>
{% endblock %}