main {
  section {
    &#players {
      .container {

        .row {
          margin: 0;
        }

        .header {
          margin-bottom: 50px;

          h1 {
            font-size: 2em;
          }
        }

        .player {
          margin-bottom: 40px;

          .name {
            color: #a96d1a;
          }

          .vote-button {
            border-radius: 2px;
          }

          .video, .intro, .photo-half, .photo-whole {
            display: none;
          }

          .photo-holder {
            height: 300px;
            overflow: hidden;
            display: flex;
            justify-content: center;

            &:hover {
              //overflow: visible;
              //z-index: 1;
            }

            &.no1:before {
              content: "1";
              width: 40px;
              height: 40px;
              background: rgba(76, 4, 33, 0.9);
              position: absolute;
              z-index: 2;
              right: 0;
              top: -17px;
              border-radius: 25px;
              font-size: 24px;
              padding-left: 14px;
              color: white;
            }

            &.crown:after {
              content: "";
              width: 35px;
              height: 30px;
              background: url(/static/images/crown-solid.svg);
              background-repeat: no-repeat;
              position: absolute;
              top: -46px;
              z-index: 3;
              right: 3px;
              display: block;
            }

            &.no2:before {
              content: "2";
              width: 40px;
              height: 40px;
              background: rgba(76, 4, 33, 0.9);
              position: absolute;
              z-index: 2;
              right: 0;
              top: -17px;
              border-radius: 25px;
              font-size: 24px;
              padding-left: 14px;
              color: white;
            }

            &.no3:before {
              content: "3";
              width: 40px;
              height: 40px;
              background: rgba(76, 4, 33, 0.9);
              position: absolute;
              z-index: 2;
              right: 0;
              top: -17px;
              border-radius: 24px;
              font-size: 25px;
              padding-left: 14px;
              color: white;
            }
            &.no4:before {
              content: "4";
              width: 40px;
              height: 40px;
              background: rgba(76, 4, 33, 0.9);
              position: absolute;
              z-index: 2;
              right: 0;
              top: -17px;
              border-radius: 24px;
              font-size: 25px;
              padding-left: 14px;
              color: white;
            }
            &.no5:before {
              content: "5";
              width: 40px;
              height: 40px;
              background: rgba(76, 4, 33, 0.9);
              position: absolute;
              z-index: 2;
              right: 0;
              top: -17px;
              border-radius: 24px;
              font-size: 25px;
              padding-left: 14px;
              color: white;
            }
            &.no6:before {
              content: "6";
              width: 40px;
              height: 40px;
              background: rgba(76, 4, 33, 0.9);
              position: absolute;
              z-index: 2;
              right: 0;
              top: -17px;
              border-radius: 24px;
              font-size: 25px;
              padding-left: 14px;
              color: white;
            }
            &.no7:before {
              content: "7";
              width: 40px;
              height: 40px;
              background: rgba(76, 4, 33, 0.9);
              position: absolute;
              z-index: 2;
              right: 0;
              top: -17px;
              border-radius: 24px;
              font-size: 25px;
              padding-left: 14px;
              color: white;
            }
            &.no8:before {
              content: "8";
              width: 40px;
              height: 40px;
              background: rgba(76, 4, 33, 0.9);
              position: absolute;
              z-index: 2;
              right: 0;
              top: -17px;
              border-radius: 24px;
              font-size: 25px;
              padding-left: 14px;
              color: white;
            }
            &.no9:before {
              content: "9";
              width: 40px;
              height: 40px;
              background: rgba(76, 4, 33, 0.9);
              position: absolute;
              z-index: 2;
              right: 0;
              top: -17px;
              border-radius: 24px;
              font-size: 25px;
              padding-left: 14px;
              color: white;
            }
            &.no10:before {
              content: "10";
              width: 40px;
              height: 40px;
              background: rgba(76, 4, 33, 0.9);
              position: absolute;
              z-index: 2;
              right: 0;
              top: -17px;
              border-radius: 24px;
              font-size: 25px;
              padding-left: 14px;
              color: white;
            }
            &.no11:before {
              content: "11";
              width: 40px;
              height: 40px;
              background: rgba(76, 4, 33, 0.9);
              position: absolute;
              z-index: 2;
              right: 0;
              top: -17px;
              border-radius: 24px;
              font-size: 25px;
              padding-left: 14px;
              color: white;
            }
            &.no12:before {
              content: "12";
              width: 40px;
              height: 40px;
              background: rgba(76, 4, 33, 0.9);
              position: absolute;
              z-index: 2;
              right: 0;
              top: -17px;
              border-radius: 24px;
              font-size: 25px;
              padding-left: 14px;
              color: white;
            }
            &.no13:before {
              content: "13";
              width: 40px;
              height: 40px;
              background: rgba(76, 4, 33, 0.9);
              position: absolute;
              z-index: 2;
              right: 0;
              top: -17px;
              border-radius: 24px;
              font-size: 25px;
              padding-left: 14px;
              color: white;
            }
            &.no14:before {
              content: "14";
              width: 40px;
              height: 40px;
              background: rgba(76, 4, 33, 0.9);
              position: absolute;
              z-index: 2;
              right: 0;
              top: -17px;
              border-radius: 24px;
              font-size: 25px;
              padding-left: 14px;
              color: white;
            }
            &.no15:before {
              content: "15";
              width: 40px;
              height: 40px;
              background: rgba(76, 4, 33, 0.9);
              position: absolute;
              z-index: 2;
              right: 0;
              top: -17px;
              border-radius: 24px;
              font-size: 25px;
              padding-left: 14px;
              color: white;
            }
            &.no16:before {
              content: "16";
              width: 40px;
              height: 40px;
              background: rgba(76, 4, 33, 0.9);
              position: absolute;
              z-index: 2;
              right: 0;
              top: -17px;
              border-radius: 24px;
              font-size: 25px;
              padding-left: 14px;
              color: white;
            }
            &.no17:before {
              content: "17";
              width: 40px;
              height: 40px;
              background: rgba(76, 4, 33, 0.9);
              position: absolute;
              z-index: 2;
              right: 0;
              top: -17px;
              border-radius: 24px;
              font-size: 25px;
              padding-left: 14px;
              color: white;
            }
            &.no18:before {
              content: "18";
              width: 40px;
              height: 40px;
              background: rgba(76, 4, 33, 0.9);
              position: absolute;
              z-index: 2;
              right: 0;
              top: -17px;
              border-radius: 24px;
              font-size: 25px;
              padding-left: 14px;
              color: white;
            }
            &.no19:before {
              content: "19";
              width: 40px;
              height: 40px;
              background: rgba(76, 4, 33, 0.9);
              position: absolute;
              z-index: 2;
              right: 0;
              top: -17px;
              border-radius: 24px;
              font-size: 25px;
              padding-left: 14px;
              color: white;
            }
            &.no20:before {
              content: "20";
              width: 40px;
              height: 40px;
              background: rgba(76, 4, 33, 0.9);
              position: absolute;
              z-index: 2;
              right: 0;
              top: -17px;
              border-radius: 24px;
              font-size: 25px;
              padding-left: 14px;
              color: white;
            }
            &.no21:before {
              content: "21";
              width: 40px;
              height: 40px;
              background: rgba(76, 4, 33, 0.9);
              position: absolute;
              z-index: 2;
              right: 0;
              top: -17px;
              border-radius: 24px;
              font-size: 25px;
              padding-left: 14px;
              color: white;
            }

            img {
              height: 100%;
              margin: auto;

              &:hover {
                animation-name: photoScale;
                animation-duration: 1s;
                animation-fill-mode: forwards;
                //z-index: 1;
              }

            }

            @media all and (max-width: 768px) {
              height: 400px;
            }
          }
        }
      }
    }

    &#profile {
      display: none;
      background: #6b0f33;
      //height: 800px;
      width: 100%;
      max-width: 700px;
      position: fixed;
      top: 40px;
      z-index: 1;
      left: 50%;
      margin-left: -350px;
      margin-top: 35px;
      @media all and (max-width: 500px) {
        left: 0;
        margin: 0;
      }

      .item img {
        width: auto;
        margin: 0 auto;
        border-radius: 2%;
        height: auto;
        max-height: 500px;
        margin-top: 50px;
        max-width: 100%;
      }

      .item.video {
        min-height: 500px;
        display: flex;
        justify-content: center;
      }

      iframe {
        width: 100%;
        min-height: 300px;
        margin: auto;
        height: 30vw;
        max-height: 400px;
        padding: 0 20px;
      }

      .close-button {
        width: 30px;
        right: 10px;
        position: absolute;
        cursor: pointer;
        z-index: 2;
        top: 6px;
      }
      .btn-disable {
        cursor: auto;
      }
    }

    .intro {
      background: #ffffff;
      color: black;
      margin-top: 12px;
      margin-left: 20px;
      margin-right: 20px;
      border-radius: 10px;
      box-shadow: 2px 2px black;

      .info-container {
        position: relative;

        .info {
          //position: absolute;
          //color: white;
          //text-shadow: 1px 1px 2px #000000;
          //top: -150px;
          //left: 15px;
          //z-index: 1;

          h3 {
            display: flex;
            //color: #ffffff;
            //text-shadow: 1px 1px 2px #efefef;
          }
        }
      }
    }

    .vote-button {
      border-radius: 10px;
      //margin-right: 35px;
      //position: absolute;
      right: 0;
      width: 9em;
      max-width: 144px;
    }
  }

  .bg-overlay {
    width: 100%;
    height: 100%;
    background: #00000085;
    position: fixed;
    top: 0;
    display: none;
  }

  .social {
    display: flex;
    justify-content: center;

    .circle {
      //border-radius: 60%;
      //border: 1px solid black;
      width: 30px;
      height: 30px;
      margin-right: 6px;
      display: inline-block;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;

      &.no-circle {
        display: inline-block;
        border: none;
        margin-top: 8px;
        display: none;
      }

      &.profile {
        background-image: url("/static/images/user-solid.svg");
        background-size: 16px;
      }

      &.fb {
        background-image: url("/static/images/facebook.png");
        //background-size: 11px;
        background-size: auto;
      }

      &.youtube {
        background-image: url("/static/images/youtube.png");
        background-size: auto;
      }

      &.ig {
        background-image: url("/static/images/instagram-sketched.png");
        background-size: auto;
      }

      &:hover {
        cursor: pointer;
        transform: scale(0.95);
      }
    }
  }
}

.owl-theme .owl-dots .owl-dot span {
  margin: 0;
}

@keyframes photoScale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}